.progression-tree { 
    background-color: grey;
    margin: 0 auto;
    width: fit-content;
    /* height: 30vh; */
    display: inline-block;
}

.progression-tree-title {
    display: flex;
    justify-content: center;
}